### React ###
node_modules
package-lock.json
music_controller/frontend/static/frontend/main.js
music_controller/frontend/static/frontend/main.js.LICENSE.txt
music_controller/frontend/static/frontend/main.js.map

### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media
.static_root/

